<div>
    <form role="form" ng-submit="searchvalueset=searchvalue">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" ng-model="searchvalue" placeholder="Enter a search">
            </div>
        </div>
    </form>

    <directive-search-engine-result-table 
        ng-if="searchvalueset" 
        active-imdb="true" 
        search-value="{{searchvalueset}}" 
        limit-to="999" 
        order-by="">
    </directive-search-engine-result-table>
</div>