<div class="container theme-showcase" role="main">

    <sub-header-directive></sub-header-directive>
    
    <h1>Search on IPTorrents</h1>

    <form role="form" ng-submit="searchvalueset=searchvalue">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                <input type="text" class="form-control" ng-model="searchvalue" placeholder="Enter a search">
            </div>
        </div>
    </form>

    <directive-search-engine-search ng-if="searchvalueset" active-imdb="true" search-value="{{searchvalueset}}" limit-to="999" order-by=""></directive-search-engine-search>


</div><!-- /container -->