<div>
	<div ng-show="!files">
		<div class="btn btn-primary btn-lg btn-block" ng-file-select ng-model="files" ng-multiple="true" accept="">Select torrent files</div>
		<br/>
		<div ng-file-drop ng-model="files"
		         drag-over-class="{accept:'accept', reject:'reject', delay:0}"
		                multiple="true"
		               allow-dir="false" accept="">
		    <div class="vertical-align-middle">Drop torrent files here</div>
		</div>
	</div>
	<div class="progress" ng-show="files">
	    <div class="progress-bar"  ng-class="{'progress-bar-warning': (progress == 0), 'progress-bar-success': (progress == 100)}" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="min-width: 40px; width: {{progress}}%">
	        {{ progress | number:2 }}%
	    </div>
	</div>
</div>