<div ng-if="searchValue">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th class="cursor-pointer"
                        ng-click="orderBy=(orderBy !== 'title' ? 'title' : '-title')">
                        Title
                    </th>
                    <th ng-if="activeIMDb"
                        class="text-center">
                        IMDb
                    </th>
                    <th class="text-center cursor-pointer"
                        ng-click="orderBy=(orderBy !== '-size' ? '-size' : 'size')">
                        Size
                    </th>
                    <th class="text-center cursor-pointer"
                        ng-click="orderBy=(orderBy !== '-completed' ? '-completed' : 'completed')">
                        Completed
                    </th>
                    <th class="text-center cursor-pointer"
                        ng-click="orderBy=(orderBy !== '-seeders' ? '-seeders' : 'seeders')">
                        Seeders
                    </th>
                    <th class="text-center cursor-pointer"
                        ng-click="orderBy=(orderBy !== '-leechers' ? '-leechers' : 'leechers')">
                        Leechers
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="line in result | orderBy:orderBy | limitTo:limitTo">
                    <td class="text-center" style="vertical-align: middle;">
                        <span class="glyphicon glyphicon-download-alt" style="cursor: pointer; font-size: 2em;" title="Download now"></span>
                    </td>
                    <td style="vertical-align: middle;"><a ng-href="{{line.detail_link}}">{{line.title}}</a></td>
                    <td ng-if="activeIMDb" style="vertical-align: middle;" class="text-center">
                        <a ng-if="line.metadata.imdbID" href="{{line.metadata.imdbUrl}}">
                            <span class="label label-success">{{line.metadata.imdbRating}}/10</span>
                        </a>
                    </td>
                    <td style="vertical-align: middle;" class="text-center">{{line.size | bytes}}</td>
                    <td style="vertical-align: middle;" class="text-center">{{line.completed}}</td>
                    <td style="vertical-align: middle;" class="text-center">{{line.seeders}}</td>
                    <td style="vertical-align: middle;" class="text-center">{{line.leechers}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-if="result.length == 0">No result</div>
    <div ng-if="loading > 0" class="text-center loading" style="width: 100%; line-height: 39px;">Loading<span style="vertical-align: middle;" class="glyphicon glyphicon-refresh"></span></div>

    <div><a ng-if="limitTo < result.length" ng-click="showAllResult()" class="cursor-pointer">Show all results</a></div>
</div>