<div>
    <div ng-if="result" class="row">
        <div class="col col-sm-3 text-center">
            <a href="{{result.imdbUrl}}"><img ng-src="{{result.poster}}" class="img-thumbnail" /></a>
        </div>
        <div class="col col-sm-9 text-justify">
            <h2>{{result.title}} 
                <small style="vertical-align: top; margin-top: 5px; display: inline-block;">
                    <a href="{{result.imdbUrl}}"><span class="label label-success">{{result.imdbRating}}/10</span></a>
                </small>
            </h2>
            <h4>{{result.year}} <small>{{result.runtime}}</small></h4>
            <p>{{result.plot}}</p>
            <p><strong>Director: </strong>{{result.director}}</p>
            <p><strong>Actors: </strong>{{result.actors}}</p>
            <p><strong>Writer: </strong>{{result.writers}}</p>
            <p><strong>Country </strong>{{result.country}}</p>
            <p><strong>Genre </strong>{{result.genre}}</p>
            <p>
                <strong>IMDb: </strong>
                <a href="{{result.imdbUrl}}">{{result.imdbRating}}/10 from {{result.imdbVotes}} votes</a>
            </p>
        </div>
    </div>
    <div ng-if="loading" class="text-center loading" style="width: 100%; line-height: 39px;">Loading<span style="vertical-align: middle;" class="glyphicon glyphicon-refresh"></span></div>
</div>